<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moonmingcalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_moonming"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_moonming_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOONMINGcalendar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowEventList"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".ShowMuteluEvent"
            android:parentActivityName=".ShowMuteluEvent"></activity>
        <activity android:name=".AddUserEvent"
            android:parentActivityName=".AddUserEvent"></activity>
        <activity android:name=".ShowUserEvent"
            android:parentActivityName=".ShowUserEvent"></activity>
        <activity android:name=".EditUserEvent"
            android:parentActivityName=".EditUserEvent"></activity>
        <activity android:name=".ShowMainEvent"
            android:parentActivityName=".ShowMainEvent"></activity>
    </application>

</manifest>